<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Соревнования на Кубок Аэробии | Статистика</title>
  <meta charset="utf-8">
  <meta property="og:title" content="Соревнования на Кубок Аэробии | Статистика" />
  <meta property="og:url" content="//aerobia.net/" />
  <meta property="og:image" content="./assets/logo_og.gif" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/main.css" rel="stylesheet" />
</head>
<body>

<section class="logo-panel">
  <div class="logo-panel__content">
    <a href="/" class="logo__link">
    <img src="./assets/logo.png" alt="Логотип Aerobia" title="На главную сайта aerobia.net" class="logo__img">
    </a>
  </div>
<section>

<section class="nav-panel">
  <div class="nav-panel__content">
    <h1 class="site-title">Кубок Аэробии</h1>
    <nav class="nav">
      <ul class="menu">
        <li><a href="index.html" class="menu__link menu__table menu__link_active menu__table_active">Таблица</a></li>
        <li><a href="teams<%=week%>.html" class="menu__link menu__team">Команды</a></li>
        <li><a href="users.html" class="menu__link menu__users">Участники</a></li>
        <li><a href="statistics<%=week%>.html" class="menu__link menu__statistics">Статистика</a></li>
        <li><a href="rules.html" class="menu__link menu__rules">Правила</a></li>
      </ul>
    </nav>
  </div>
</section>


<main class="main">
  <div class="main__content">
    <aside class="sidebar">
      <section class="users">

        <ul class="users__list">
            <% runners.each do |runner|
                if runner[0] == r[0] %>
                  <li class="user"><a class="user__link active" href="u<%= runner[0] %>.html"><%= runner[1] %></a></li>
              <% else %>
                  <li class="user"><a class="user__link" href="u<%= runner[0] %>.html"><%= runner[1] %></a></li>
              <% end %>
          <%  end %>
        </ul>
      </section>

      <section class="clubs">
        <h3 class="clubs__title">
        <a class="clubs__title-link" href="http://aerobia.ru/my/clubs">Клубы</a>
        </h3>
        <ul class="clubs__list">
          <li class="clubs__item">
            <a href="http://aerobia.ru/clubs/413">
            <img src="assets/413_cup3_thumbnail.jpg" class="clubs__item-avatar"/>
            </a>
            <a href="http://aerobia.ru/clubs/413" class="clubs__item-link">Кубок Аэробии</a>
          </li>
          <li class="clubs__item">
            <a href="http://aerobia.ru/clubs/153">
            <img src="assets/153_Boston-Running-Routes_thumbnail.jpg" class="clubs__item-avatar"/>
            </a>
            <a href="http://aerobia.ru/clubs/153" class="clubs__item-link">Все о беге</a>
          </li>
          <li class="clubs__item">
            <a href="http://aerobia.ru/clubs/190">
            <img src="assets/190_aerobia_thumbnail.jpg" class="clubs__item-avatar"/>
            </a>
            <a href="http://aerobia.ru/clubs/190" class="clubs__item-link">Аэробия</a>
          </li>
        </ul>
      </section>
    </aside>

    <section class="page">
      <section class="runner">
        <%=data%>
      </section>
    </section>
  </div>
</main>


<section class="description">
  <div class="description__content">
    <h3 class="description__title">Аэробия</h3>
    <p class="description__text">Аэробия &mdash; это спортивный трекер позволяющий отслеживать и анализировать результаты ваших тренировок и делиться ими с друзьями. Лучший инструмент для бега, велоспорта, ходьбы, беговых лыж и любой другой физической активности.
    </p>
    <div class="description__links">
    <a href="http://aerobia.ru/investor">Информация инвесторам</a>
    <a href="http://aerobia.ru/wall">Доска почета</a>
    </div>
    <div class="download">
    <div class="download__title">Скачать<br> Аэробия для</div>
    <div class="download__mobile">
    <a href="https://itunes.apple.com/ru/app/aerobia/id566375588?ls=1&amp;mt=8" class="mobile__iphone">iPhone</a> или <a href="https://play.google.com/store/apps/details?id=lv.scada.aerobia" class="mobile__android">Android</a>
    </div>
  </div>
</section>

<section class="footbar">
  <div class="footbar__content">
    <ul class="contacts">
      <li class="contact contact__email">
      <a href="mailto:info@aerobia.ru" class="contact__link" target="_blank">info@aerobia.ru</a>
      </li>
      <li class="contact">
      <a href="http://www.facebook.com/Aerobia" class="contact__link" target="_blank">Facebook</a>
      </li>
      <li class="contact">
      <a href="http://vk.com/aerobia" class="contact__link" target="_blank">Вконтакте</a>
      </li>
      <li class="contact">
      <a href="https://twitter.com/Aerobiaru" class="contact__link" target="_blank">Twitter</a>
    </li>
    </ul>
  </div>
</section>

</body>
</html>
